body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  animation: fadeGrowIn .5s ease-out;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-message {
  text-align: center;
}
