/* Container for input and label, relative positioning for label */
.input-field {
  position: relative;
}

/* Style for input fields */
input {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--border-radius-small);
  height: 100%;
  position: relative;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  background: var(--color-white);
  width: 100%;
  color: var(--color-dark-grey);
  font-family: "Open Sans";
  font-weight: normal;
}

/* Style for labels positioned inside input fields */
label {
  pointer-events: none;
  cursor: text;
  line-height: 100%;
  left: 0.75rem;
  top: 0.1rem;
  font-size: 1.2rem;
  position: absolute;
  transform: translateY(100%);
  transition: all 0.2s ease-out 0s;
  padding: 0 10px;
  color: var(--color-dark-grey);
}

/* Label moves up and shrinks when input is focused or filled */
.input-field input:focus + label,
.input-field input.filled + label {
  background: var(--color-white);
  transform: translateY(-60%);
  font-size: 0.8rem;
  color: var(--color-dark-grey);
}

/* Red outline on input focus */
input:focus-visible {
  border: 1px solid var(--color-light-blue);
}
