.roles-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.create-role-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button-wrapper {
  width: 100%;
}

.card-edit {
  min-height: unset;
}